apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  labels:
    app: mysql
spec:
  selector:
    app: mysql
  ports:
    - name: mysql        # Porta per l'app backend
      protocol: TCP
      port: 3306
      targetPort: 3306
    - name: metrics      # Porta per Prometheus (l'exporter)
      protocol: TCP
      port: 9104
      targetPort: 9104
  type: ClusterIP
