apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306 # porta interna del Service
      targetPort: 3306 # porta del container MySQL
  type: ClusterIP
